<footer class="footer">
    <div class="container">
        <div class="footer__top">

            <div class="footer__section">
                <h5 class="footer__title">browse</h5>
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#" class="footer__list-link">Home</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__list-link">About Us</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__list-link">Categories</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__list-link">Info</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__list-link">Services</a></li>
                </ul>
            </div>

            <div class="footer__section">
                <h5 class="footer__title">shop</h5>
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#" class="footer__list-link">Account</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__list-link">Help & Guide</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__list-link">Shipping & Returns</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__list-link">FAQs</a></li>
                </ul>
            </div>

            <div class="footer__section">
                <h5 class="footer__title">contact</h5>
                <p class="footer__adress">Quotes PSD Template
                    Rudra Street, 12354 Villa
                    My State - My Country
                    987658
                </p>
                <a class="footer__phone footer__list-link" href="#">Phone: + 01 234 567 890</a>
                <p class="footer__fax">Fax: + 01 234 567 890</p>
                <a class="footer__email footer__list-link"
                    href="mailto:graphicsfuel@gmail.com ">graphicsfuel@gmail.com</a>
            </div>

            <div class="footer__section">
                <h5 class="footer__title">Subscribe now</h5>
                <p class="footer__subscribe-text">Get our latest news and product updates daily</p>
                <form class="footer__form" action="#">
                    <input class="footer__form-email" type="email" name="email" placeholder="Email Address" required>
                    <input class="footer__submit" type="submit" value="SUBMIT">
                </form>
            </div>

        </div>
    </div>
    <div class="footer__bottom">
        <div class="container footer__container">
            <p class="footer__copy">2016 © Copyright - Quotes PSD Templates. All rights reserved.</p>
            <div class="footer__social">
                <a href="#" class="footer__social-link footer__facebook" title="facebook"></a>
                <a href="#" class="footer__social-link footer__twitter" title="twitter"></a>
                <a href="#" class="footer__social-link footer__in" title="in"></a>
                <a href="#" class="footer__social-link footer__youtube" title="youtube"></a>
                <a href="#" class="footer__social-link footer__google" title="google"></a>
                <a href="#" class="footer__social-link footer__pinterest" title="pinterest"></a>
                <a href="#" class="footer__social-link footer__instagram" title="instagram"></a>
                <a href="#" class="footer__social-link footer__email" title="email"></a>
            </div>
        </div>
    </div>

</footer>