<header class="header">
    <div class="container header__container">
        <div class="header__logo"><span class="header__logo-text">Quotes</span></div>
        <div class="header__menu">menu</div>
    </div>
    <div class="container header__container--position">
        <div class="header__description">
            <h1 class="header__title">Smile</h1>
            <p class="header__title-description">it costs you nothing</p>
        </div>
    </div>

    <!-- HIDDEN MENU -->

    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__list-item"><a href="#" class="nav__list-link">home</a></li>
            <li class="nav__list-item"><a href="#" class="nav__list-link">about us</a></li>
            <li class="nav__list-item"><a href="#" class="nav__list-link">Categories</a></li>
            <li class="nav__list-item"><a href="#" class="nav__list-link">gallery</a></li>
            <li class="nav__list-item"><a href="#" class="nav__list-link">events</a></li>
            <li class="nav__list-item"><a href="#" class="nav__list-link">blog</a></li>
            <li class="nav__list-item"><a href="#" class="nav__list-link">contact us</a></li>
        </ul>

        <span class="nav__close-btn">x<span class="nav__close-text">close</span></span>
    </nav>

</header>