<section class="inclusive">
    <div class="container">
        <h2 class="inclusive__title">The most inclusive</h2>
        <p class="inclusive__title-description">Free PSD Template</p>
        <p class="inclusive__title-under-description">Free for commercial and personal use. <br> You can easily edit its
            contents and code it for yourself or your client!</p>

        <div class="inclusive__line"></div>
        
        <p class="inclusive__description inclusive__description--mb">Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Donec eget nisi eget
            tortor iaculis tristique. Aliquam tincidunt posuere tortor hendrerit elementum. Nunc laoreet lorem a sem
            auctor fringilla. Pellentesque dignissim accumsan lobortis. Sed pharetra erat vitae dui imperdiet quis
            commodo orci dapibus. </p>
        <p class="inclusive__description">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Fusce at nunc libero. Nam metus lorem, rhoncus ac mattis ornare, blandit vel risus.</p>
    </div>
</section>