<section class="poster">
    <div class="container">

        <h2 class="poster__title">Buy Poster Prints</h2>
        <div class="poster__line"></div>

        <div class="poster__container">

            <div class="poster__left">
                <p class="poster__left-text">Stay <br>
                    True, <br>
                    Stay <br>
                    gentleman
                </p>
                <a href="#" class="poster__buy">buy now</a>
                <a href="#" class="poster__share">share</a>
            </div>

            <div class="poster__right">

                <div class="poster__nature">
                    <p class="poster__nature-text">And muse of nature
                        with a poet’s eye
                    </p>
                    <p class="poster__nature-author">Thomas Campbell</p>
                    <a href="#" class="poster__buy">buy now</a>
                </div>
                <div class="poster__container">
                    <div class="poster__coffe">
                        <p class="poster__coffe-text">Make Work
                            Fun & Play
                        </p>
                        <a href="#" class="poster__buy">buy now</a>
                        <a href="#" class="poster__share">share</a>
                    </div>

                    <div class="poster__silence">
                        <p class="poster__silence-text">Silence is <br>
                            <span class="poster__silence-text--bold">Golden</span></p>
                        <a href="#" class="poster__buy">buy now</a>
                        <a href="#" class="poster__share">share</a>
                    </div>
                </div>

            </div>

        </div>
        <button class="poster__btn">browse posters</button>
    </div>
</section>