<section class="reasons">
    <div class="container">
        <h2 class="reasons__title">Reasons to be happy</h2>
        <div class="reasons__line"></div>

        <div class="reasons__container">

            <div class="reasons__wrapper">
                <h5 class="reasons__wrapper-title">you are alive</h5>
                <p class="reasons__wrapper-description">Waking up to see another day is a blessing. Don't take it for
                    granted. Make it count and be happy that you're alive.<span class="reasons__author">Anonymous</span>
                </p>
            </div>

            <div class="reasons__wrapper">
                <h5 class="reasons__wrapper-title">someone loves you</h5>
                <p class="reasons__wrapper-description">Someone who really loves you sees what a mess you can be, how
                    moody you can get, how hard you are to handle, but still wants you in their life.<span
                        class="reasons__author reasons__author-2">Anonymous</span></p>
            </div>

            <div class="reasons__wrapper">
                <h5 class="reasons__wrapper-title">Enjoy the moment</h5>
                <p class="reasons__wrapper-description">Sometimes you will never know the true value of a moment until
                    it becomes a memory. <span class="reasons__author reasons__author">Anonymous</span></p>
            </div>

            <div class="reasons__wrapper">
                <h5 class="reasons__wrapper-title">health is wealth</h5>
                <p class="reasons__wrapper-description">It is health that is real wealth and not pieces of gold and
                    silver. <span class="reasons__author">Mahatma Gandhi</span></p>
            </div>

        </div>

        <button class="reasons__btn">More reasons</button>
    </div>

</section>